# Prototyping : CSV Loader

Playing around to figure the implemetnation of a csv loader based on pandas

In [29]:
import pandas as pd
import os
import sys
from dotenv import dotenv_values

domain = 'logement'
source = 'annual_dept_data'

root_path = os.path.dirname(os.path.dirname(os.path.abspath('.')))
input_path = os.path.join(root_path,"data/imports",domain)
common_path = os.path.join(root_path, "common")

sys.path.append(root_path)
sys.path.append(common_path)

from common.utils.database_client import DatabaseClient


file_list = os.listdir(input_path)

filename = 'logement_annual_dept_data_full.csv'

tablename, extname = os.path.splitext(filename)
filepath = os.path.join(input_path,filename)
print(f"Importing file: {filepath}")

Importing file: /Users/alex/dev/13_odis/data/imports/logement/logement_annual_dept_data_full.csv

In [30]:
# Import dataframe
DEFAULT_SEPARATOR = ';'
df = pd.read_csv(filepath, sep = DEFAULT_SEPARATOR, header = 2)

df.head()

,ANNEE,DEPARTEMENT_CODE,DEPARTEMENT_LIBELLE,TYPE_LGT,LOG_AUT,LOG_COM,SDP_AUT,SDP_COM
0,2023,01,Ain,Tous Logements,4586,NaN,409166,NaN
1,2023,01,Ain,Individuel pur,1273,NaN,159228,NaN
2,2023,01,Ain,Individuel groupé,673,NaN,67030,NaN
3,2023,01,Ain,Collectif,2558,NaN,178189,NaN
4,2023,01,Ain,Résidence,82,NaN,4719,NaN

In [31]:
# Import db client
env_config = dotenv_values()
client = DatabaseClient.from_dotenv(env_config = env_config)

df.to_sql(tablename, con = client.connection, schema = 'bronze', if_exists = 'replace')

AttributeError: type object 'DatabaseClient' has no attribute 'from_dotenv'